@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: rgb(9 9 10);
  --color-card: white;
  --color-card-foreground: rgb(9 9 10);
  --color-muted: rgb(245 245 245);
  --color-muted-foreground: rgb(115 115 115);
  --color-accent: rgb(239 68 68);
  --color-accent-foreground: white;
  --color-primary: rgb(239 68 68);
  --color-primary-foreground: white;
  --color-secondary: rgb(100 116 139);
  --color-secondary-foreground: white;
  --color-destructive: rgb(239 68 68);
  --color-destructive-foreground: white;
  --color-border: rgb(229 231 235);
  --color-input: rgb(229 231 235);
  --radius-lg: 0.5rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.25rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
